<div fxLayout="column" fxLayoutAlign="start none" class="mat-typography">
  <div class="basic-container full-vh" id="main-screen" fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex @inAnimation>
        <!--<img src="assets/kleer-dojo.png" alt="kleer-dojo">-->
        <h1 class="mat-display-2 text-center">Agile Coach Competency Assessment</h1>
        <p class="mat-subheading-2 text-center">Descubre tu nivel de madurez como Agile Coach e identifica el siguiente paso en tu camino de mejora continua en la agilidad.</p>
        <a mat-raised-button color="accent" href="#services-section" >Iniciar</a>
      </div>
  </div>
  <div id="services-section" class="basic-container" fxLayout.gt-md="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
    <h3 class="mat-display-1">Agile coaching competency framework</h3>
    <mat-card class="options-container" @inAnimation>
      <img mat-card-image src="assets/agile-diagram.png" >
      <mat-card-header>
        <!--<mat-card-title>Thing one</mat-card-title>-->
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Este Assessment está basado en  basado en el Agile Competency Framework de Lyssa Adkins y Michael K. Spayd
          En el cual podrás reflexionar sobre tu nivel de madurez en la agilidad!</p>
      </mat-card-content>
    </mat-card>
    <mat-card @inAnimation class="options-container">
      <!--<img mat-card-image src="assets/dojo-space.jpg" >-->
      <mat-card-header>
        <mat-card-title class="text-center">Para conocer más detalles sobre el Agile competency framework mira este webinar:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Spe-NqLfnCg?start=1306" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="basic-container" fxLayout="column" fxLayoutAlign="center center">
    <a mat-raised-button color="primary" href="#skills-section">Continuar</a>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="column" class=" basic-container warn-background" fxLayoutAlign="center center">
    <h2 class="mat-display-1">Qué es el Agile Coach competency assessment?</h2>
  </div>
  <div id="skills-section" class="warn-background" fxLayout.gt-md="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
    <mat-card class="options-container-2" fxFlex.lt-md="25">
      <div fxLayout="row" fxLayoutAlign="center center">
        <span class="material-icons">directions_run</span>
        <span class="material-icons">terrain</span>
      </div>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Desafio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Es un desafío para las personas que buscan mejorar en su camino ágil.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="options-container-2">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">rule</span>
      </div>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Evaluación</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Es una evaluación para determinar la madurez actual en Agile coaching  y medir el progreso de cara a una meta.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="options-container-2">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">build</span>
      </div>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Herramienta</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Es una herramienta para identificar y priorizar metas de mejora, y siguientes acciones para llegar a la meta.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="options-container-2">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">psychology</span>
      </div>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Oportunidad</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Es una oportunidad para reflexionar sobre nuestro camino en la agilidad y nuestras propias brechas.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="basic-container warn-background" fxLayout="column" fxLayoutAlign="center center">
    <a mat-raised-button color="accent" href="#form-section">Tomar el Assessment</a>
  </div>
  <mat-divider></mat-divider>
  <div id="form-section" class="basic-container" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-display-1">¿Cual es tu madurez en Agile Coach?</h2>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
      <div fxFlex>
        <mat-card>
          <mat-card-content>
            <p class="mat-subheading-1">Este assessment te ayudará a descubrir tu nivel de madurez en las 8 competencias principales de Agile Coaching.</p>
            <p class="mat-body-2">Luego de realizar el assessment obtendrás:</p>
            <ul class="mat-subheading-2">
              <li>Una gráfica con tu nivel de madurez en cada competencia.</li>
              <li>Recomendaciones basadas en tu nivel de madurez (Pronto).</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex>
        <mat-card>
          <mat-card-header>
            <h2 class="mat-title">Inicia tu Assessment aqui:</h2>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="initAssessmentForm" fxLayout="column" fxLayoutAlign="space-around stretch" (ngSubmit)="saveInit()">
              <mat-form-field appearance="outline">
                <mat-label>Email *</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-error *ngIf="initAssessmentForm.get('email').invalid">Campo invalido</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Pais *</mat-label>
                <mat-select formControlName="country">
                  <mat-option value="option" disabled>Selecciona una opcion</mat-option>
                  <mat-option [value]="country.countryId" *ngFor="let country of countries">{{country.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="initAssessmentForm.get('country').invalid">:( Campo invalido</mat-error>
              </mat-form-field>
              <button mat-raised-button color="accent" type="submit" [disabled]="initAssessmentForm.invalid">Iniciar</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
