<div fxLayout="column" fxLayoutAlign="start none" class="mat-typography">
  <div class="basic-container full-vh" id="main-screen" fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex @inAnimation>
        <img src="assets/kleer-dojo.png" alt="kleer-dojo">
        <h1 class="mat-display-1 text-center">Agile Coach Assessment</h1>
        <p class="mat-subheading-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est. Pellentesque auctor tincidunt ipsum, sed ornare lectus consectetur at. Etiam vel dignissim augue. Aliquam erat volutpat. Pellentesque quis finibus massa, in vehicula dolor. Aliquam erat volutpat. Cras molestie est in sem feugiat.</p>
        <a mat-raised-button color="accent" href="#services-section" >Iniciar</a>
      </div>
  </div>
  <div id="services-section" class="basic-container" fxLayout.gt-md="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
    <h3 class="mat-display-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
    <mat-card class="options-container" @inAnimation>
      <img mat-card-image src="assets/dojo-team.jpg" >
      <mat-card-header>
        <mat-card-title>Thing one</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est.</p>
      </mat-card-content>
    </mat-card>
    <mat-card @inAnimation class="options-container">
      <img mat-card-image src="assets/dojo-space.jpg" >
      <mat-card-header>
        <mat-card-title>Thing two</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est.</p>
      </mat-card-content>
    </mat-card>
    <mat-card @inAnimation class="options-container">
      <img mat-card-image src="assets/dojo-team.jpg" >
      <mat-card-header>
        <mat-card-title>Thing three</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="basic-container" fxLayout="column" fxLayoutAlign="center center">
    <a mat-raised-button color="primary" href="#skills-section">Continuar</a>
  </div>
  <mat-divider></mat-divider>
  <div id="skills-section" class="warn-background basic-container" fxLayout.gt-md="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
    <mat-card class="options-container-2" fxFlex.lt-md="25">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">event</span>
      </div>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Thing three dot one</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="options-container-2">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">help</span>
      </div>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Thing three dot one</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="options-container-2">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">sentiment_satisfied_alt</span>
      </div>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Thing three dot one</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="options-container-2">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">self_improvement</span>
      </div>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Thing three dot one</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="basic-container warn-background" fxLayout="column" fxLayoutAlign="center center">
    <a mat-raised-button color="accent" href="#form-section">Realizar Assessment</a>
  </div>
  <mat-divider></mat-divider>
  <div id="form-section" class="basic-container" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-display-1">¿Cual es tu madurez en Agile Coach?</h2>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
      <div fxFlex>
        <mat-card>
          <mat-card-content>
            <p class="mat-subheading-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sem consequat, euismod orci non, blandit est.</p>
            <p class="mat-body-2">Lorem ipsum dolor sit amet:</p>
            <ul class="mat-subheading-2">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex>
        <mat-card>
          <mat-card-header>
            <h2 class="mat-title">Inicia tu Assessment aqui:</h2>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="initAssessmentForm" fxLayout="column" fxLayoutAlign="space-around stretch" (ngSubmit)="saveInit()">
              <mat-form-field appearance="outline">
                <mat-label>Email *</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-error *ngIf="initAssessmentForm.get('email').invalid">Campo invalido</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Pais *</mat-label>
                <mat-select formControlName="country">
                  <mat-option value="option" disabled>Selecciona una opcion</mat-option>
                  <mat-option [value]="country.countryId" *ngFor="let country of countries">{{country.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="initAssessmentForm.get('country').invalid">:( Campo invalido</mat-error>
              </mat-form-field>
              <button mat-raised-button color="accent" type="submit" [disabled]="initAssessmentForm.invalid">Iniciar</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
