<div fxLayout="column">
  <div class="accent-background header mat-elevation-z2" fxLayout="row">
    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
      <!--<img src="assets/kleer-dojo.png" alt="kleer-dojo">-->
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
      <h3 class="mat-title">Dojo Assessment summary</h3>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center stretch" [ngClass.lt-md]="{'content-container':false, 'content-container-full-with': true}" [ngClass.gt-md]="{'content-container':true, 'content-container-full-with': false}">
    <mat-card>
      <!--<mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-chip-list aria-label="raking" selectable="false">
          <mat-chip color="accent" selected>Clasificación:</mat-chip>
          <mat-chip>2 - Novato</mat-chip>
          <mat-chip>4 - Principiante</mat-chip>
          <mat-chip>6 - Competente</mat-chip>
          <mat-chip>8 - Profesional</mat-chip>
          <mat-chip>10 - Experto</mat-chip>
        </mat-chip-list>
      </mat-card-header>-->
      <mat-card-content>
        <div style="display: block" *ngIf="dataLoaded">
          <canvas baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType"
                  [plugins]="pieChartPlugins"
          >
          </canvas>
        </div>
        <div fxLayout.lt-md="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="center center" fxLayoutGap="10vh">
          <a mat-raised-button color="primary" (click)="downloadCanvas($event)">Descargar</a>
          <button id="share-executor" mat-raised-button color="accent" (click)="openBottomSheet($event)">Compartir</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
