<div fxLayout="column">
  <div class="accent-background header mat-elevation-z2" fxLayout="row">
    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/kleer-dojo.png" alt="kleer-dojo">
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
      <h3 class="mat-title">Dojo Assessment summary</h3>
    </div>
  </div>
  <div class="content-container">
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType">
          </canvas>
        </div>
        <a mat-raised-button color="primary" (click)="downloadCanvas($event)">Descargar</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
