@import "src/dojo-theme";
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

h3.mat-title {
  color: mat-color($custom-theme-warn, 50);
  margin: 0 !important;
}
