<div fxLayout="column">
  <div class="accent-background header mat-elevation-z2" fxLayout="row">
    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
      <!--<img src="assets/kleer-dojo.png" alt="kleer-dojo">-->
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <h3 class="mat-title">Dojo Assessment</h3>
    </div>
  </div>
  <div [ngClass.lt-md]="{'content-container':false, 'content-container-full-with': true}" [ngClass.gt-md]="{'content-container':true, 'content-container-full-with': false}">
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <div [formGroup]="theFormGroup">
          <mat-vertical-stepper  labelPosition="bottom" #stepper formArrayName="answersByCategory">
            <mat-step [stepControl]="theFormGroup" [editable]="isEditable" *ngFor="let category of categoryTree$ | async; let i = index;">
              <ng-template matStepLabel>{{category.categoryName}}</ng-template>
              <div fxLayout="column" class="question-container" *ngFor="let question of category.questionEntities;">
                <div>
                  <h3 class="mat-h3 color-primary-700">{{question.question}}</h3>
                </div>
                <div>
                  <form [formGroupName]="i">
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                      [formControlName]="category.questionCategoryId+'-'+question.questionId">
                      <mat-radio-button class="example-radio-button" *ngFor="let answer of question.answerEntities" [value]="answer.questionAnswerId">
                        <span>{{answer.answer}}</span>
                      </mat-radio-button>
                    </mat-radio-group>
                    <div fxLayout="column" fxLayoutAlign.lt-md="space-around stretch" fxLayoutAlign.gt-md="space-between center" fxLayoutGap="1vh">
                      <button *ngIf="i > 0" mat-raised-button color="accent" matStepperPrevious>Anterior</button>
                      <button mat-raised-button color="primary" matStepperNext [disabled]="theFormArray.at(i).invalid">Siguiente</button>
                    </div>
                  </form>
                </div>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Listo!</ng-template>
              <p class="mat-body-2">Listo, has completado el Assesstment ahora vamos a ver los resultados, usa el boton 'Finalizar' para ir a verlos.</p>
              <div fxLayout="column" fxLayoutAlign.lt-md="space-around stretch" fxLayoutAlign.gt-md="space-between center" fxLayoutGap="1vh">
                <button mat-raised-button color="warn" matStepperPrevious>Anterior</button>
                <button mat-raised-button color="warn" (click)="stepper.reset()">Reiniciar</button>
                <button mat-raised-button color="primary" [disabled]="theFormGroup.invalid" (click)="saveAssessmentAnswer()">Finalizar</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
